/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #122527;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: .5rem;
}
nav ul {
  display: flex;
  list-style: none;
}
nav li {
  margin: 0 1.5rem;
  padding-top: .6rem;
}
#icon{
  filter: invert(1);
}

nav a {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
} 
nav a:hover {
  transition: color 0.5s ease-in-out;
  color: #f88222;
  transition-delay: 0.5;
  text-decoration: underline;
}
nav a:not(:hover){
  transition: color 0.5s ease-in-out;
  color: #fff;
  transition-delay: 0.5;
}

.contenedor-img-main{
  display: flex;  
  flex-direction: row;
  justify-content: center;
  
}
.imagen-main{
  flex: 7;
  width: 100%;
  height: 93vh;
}
.texto-main{
  flex: 2;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #122527;
  color: white;
  font-size: 35px;
  padding-top: 15%;
}
.titulo:hover > h2{
  color: #f88222;
  transition: color 0.8s ease;
}
.titulo:not(:hover) > h2{
  color: #fff;
  transition: color 0.8s ease;
}
.contenedor-sobremi{
  padding-top: 10%;
  display: flex;
  flex-direction: row;
}
.img-sobremi{
  flex: 5;
  width: 500px;
  height: 500px;
  font-size: 35px;
  text-align: center;
  text-decoration: none;
  transition: color 0.8s ease;
}
.img-sobremi > p{
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.img-sobremi > p:hover{
  animation: distorsion 0.5s ease-in-out infinite;
}
.img-sobremi >p:not(:hover){
  animation: restablecer 1.5s ease-out forwards;
}
.texto-sobremi{
  flex:5;
}



@keyframes distorsion {
  0% {
    transform: skewX(0deg);
  }
  50% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
@keyframes restablecer {
  0% {
    transform: skewX(0deg);
  }
  50% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

@media (max-width: 768px) {
  .contenedor-img-main {
    display: block;
    flex-direction: column;
  }
  .imagen-main{
    display: none;
  }
  .texto-main{
    padding: 10% 10%;
  }
  .text-auxiliar{
    display: none;
  }
  .img-sobremi{
    width: 300px;
    height: 300px;
  }
  .texto-sobremi{

  }
}