body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2C2C34;
  color: #D8D8F6;
}

#video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

header {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(52, 46, 55, 0.5);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(15px);
  z-index: 1;
}

nav .logo img {
  height: 50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding-right: 25px;
}

.hero-text {
  margin-top: 50px;
}

.hero-text-t {
  font-size: 100px;
}

.hero-text-p {
  font-size: 25px;
}

section {
  height: 100vh;
  padding: 150px;
}

.btn {
  background-color: rgba(32, 32, 48, 0.8);
  color: #fff;
  font-size: 18px;
  padding: 10px 15px;
}

.btn:hover {
  background-color: rgba(32, 32, 48, 1);
  color: #fff;
}

.text-btw h2 {
  font-size: 60px;
  margin-bottom: 50px;
  text-align: center;
}

.text-btw p {
  font-size: 20px;
  text-align: justify;
}

.texto-equipo {
  margin-bottom: 25px;
}

.card {
  background-color: #494850;
  height: 100%;
}

.card img {
  height: 50%;
}

.card-body h3 {
  text-align: center;
  font-size: 35px;
  color: #B18FCF;
  margin-bottom: 25px;
}

.card-body p {
  text-align: justify;
  font-size: 18px;
  color: #D8D8F6;
}
.texto-form{
  margin-left: 160px;
  font-size: 60px;
}
